<!-- <form class="example-form">
    <div style="width: 100%;">
        <table class="example-full-width center" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Búsqueda de Animes</mat-label>
                        <input matInput [(ngModel)]="filtro" name="filtro">
                    </mat-form-field>
                </td>
            </tr>
        </table> -->
        <!-- <table class="example-full-width center" cellspacing="0">
            <tr>
                <td>
                    <div class="card" *ngFor="let anime of (listaAnimes | filtroAnimes:filtro)">
                        <mat-card class="example-card" (click)="verDetalle(anime)">
                            <mat-card-header>
                                <mat-card-title>{{ anime.title }}</mat-card-title>
                            </mat-card-header>
                            <img mat-card-image [src]="anime.image_url" alt="anime">
                            <mat-card-content>
                                <p>
                                    {{ anime.synopsis }}
                                </p>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </td>
            </tr>
        </table> -->
    <!-- </div>
</form> -->
<mat-grid-list cols="3" rowHeight="100px">
    <mat-grid-tile><p></p></mat-grid-tile>
    <mat-grid-tile>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Búsqueda de Animes</mat-label>
            <input matInput [(ngModel)]="filtro" name="filtro">
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile><p></p></mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="2">
    <mat-grid-tile [colspan]="1" *ngFor="let anime of (listaAnimes | filtroAnimes:filtro)">
        <mat-card class="example-card" (click)="verDetalle(anime)">
            <mat-card-header>
                <mat-card-title>{{ anime.title }}</mat-card-title>
            </mat-card-header>
            <img mat-card-image [src]="anime.image_url" alt="anime">
            <mat-card-content>
                <p>
                    {{ anime.synopsis }}
                </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>