.example-card {
    max-width: 600px;
  }

  .card {
    padding-bottom: 1rem;
}
  .example-main2{
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 16px;
    width: 75%;
    max-width: 1080px;
    margin: auto;
  }